/* You can add global styles to this file, and also import other style files */
.hovercard:hover {
  cursor: pointer;
}

.container {
  padding-left:20px; 
  padding-right:20px;
  padding-top: 100px; 
}

.pointable {
  cursor: pointer;
}
